'
.PotionWars.py.swo
.person.py.swo
1542
:w
MANIFEST
PKG-INFO
PW_Windows.zip
PotionWars.pyc
PotionWars.spec
PotionWars.spec_bak
README
Windows/
__pycache__/
automapdesign/
build/
changelog.txt
clean.spec
combat.pyc
combatAction.pyc
conversation.pyc
data/POL-antique-market-long.wav
data/POL-apparition-long.wav
data/POL-bridge-over-darkness-long.wav
data/POL-chase-long.wav
data/POL-goodbye-long.wav
data/POL-graveyard-lord-long.wav
data/POL-holy-forest-long.wav
data/POL-hurry-up-long.wav
data/POL-jesu-long.wav
data/POL-land-of-peace-long.wav
data/POL-last-duel-long.wav
data/POL-love-theme-long.wav
data/POL-moonlight-long.wav
data/POL-moonshine-piano-long.wav
data/POL-risky-plan-long.wav
data/POL-sadistic-game-long.wav
data/POL-smart-ideas-long.wav
data/POL-spiritual-path-long.wav
data/POL-telekinesis-long.wav
data/POL-the-challenge-long.wav
data/POL-war-victims-long.wav
data/step.wav
dill-0.2.1.zip
dist/
dungeonmode.pyc
episode.pyc
episode1.pyc
episode1_keywords.txt
episode1_nodeNum.txt
episode2.py
episode2.pyc
episode2CharRooms.pyc
errors.log
git_add.sh
inCombatSpankings/
items.pyc
itemspotionwars.pyc
manual/images/herebedragons.png
monitor.sh
music.pyc
output.txt
parse.pyc
parseTree.pyc
person.pyc
positions.pyc
pw_changes
pw_manual.zip
pwenemies.pyc
pygame-1.9.1.win32-py2.7.msi
pyinstaller-pyinstaller-91b7364/
pyinstaller-pyinstaller-v2.0-819-g91b7364.tar.gz
pyinstaller.spec
python-2.7.7.msi
pywin32-219.win32-py2.7.exe
pywin32-219.win32-py2.7.exe.part
save/
saveBackup/
scripts/
setup.cfg
setuptools/
shopmode.pyc
song_of_roland.txt
sp_rpg_engine.pyc
spanking.pyc
spanking_mechanics.txt
spells_PotionWars.pyc
statusEffects.pyc
tags
tests/
texput.log
textCommandsMusic.pyc
textrect.pyc
titleScreen.pyc
townmode.pyc
transExceptions.py
transExceptions.pyc
transcripts/;:w
transcripts/README.md
transcripts/carrie_sex_scene.tex
transcripts/cruel_zinger.txt
transcripts/default_traits
transcripts/desired_spanking_scenes.txt
transcripts/dinosaur_equivalents.txt
transcripts/ep2_keywords.txt
transcripts/ep2_maria_spanking.tex
transcripts/episode1_keywords.txt
transcripts/episode2.4ct
transcripts/episode2.4tc
transcripts/episode2.aux
transcripts/episode2.css
transcripts/episode2.dvi
transcripts/episode2.html
transcripts/episode2.idv
transcripts/episode2.lg
transcripts/episode2.log
transcripts/episode2.out
transcripts/episode2.pdf
transcripts/episode2.tex
transcripts/episode2.tmp
transcripts/episode2.txt
transcripts/episode2.xref
transcripts/episode2.zip
transcripts/episode2/
transcripts/episode2_dungeon_intro.txt
transcripts/episode2_outline.txt
transcripts/saurion.txt
transcripts/slush/
transcripts/test.tex
translate.pyc
tree.txt
universal.pyc
young_vengador_text.txt
